* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", serif;
}

h1, h2, h3, a {
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 2rem;
}

.header {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  position: fixed;
}
.header .nav-cover {
  display: flex;
  align-items: center;
  position: relative;
}
.header .logo {
  flex-basis: 10%;
}
.header .nav {
  justify-self: end;
  margin-right: 5rem;
}
.header .nav ul li {
  font-weight: 500;
  display: inline-block;
}
.header .nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.8rem 1rem;
}
.header .nav ul li a.active {
  color: #ffe900;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2rem;
}
.header .nav ul li a:hover {
  color: #ffe900;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2rem;
}
.header .dropdown-leanguage {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.3rem 1.3rem 0 1.3rem;
  background: black;
}
.header .dropdown-leanguage img {
  display: block;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.header .dropdown-leanguage .inner-leanguage {
  display: none;
}

.banner {
  background-image: url("img/bmw2.jpg");
  height: 40rem;
  background-size: 110%;
  background-position: 0% 40%;
  display: flex;
  align-items: center;
  color: white;
}
.banner .text-area {
  margin-left: 10%;
}
.banner .text-area h1 {
  font-size: 3rem;
}
.banner .text-area p {
  font-size: 1.5rem;
  max-width: 60%;
  margin: 1rem 0 4rem 0;
}
.banner .text-area a {
  background: #ffe900;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: 900;
  color: #000000;
  border-radius: 2rem;
}

.whyUs {
  margin-top: -5rem;
  color: white;
  display: flex;
  justify-content: center;
}
.whyUs .inner-section {
  background-color: #000000;
  width: 60%;
  border-radius: 3rem;
}
.whyUs .list {
  padding: 2rem 6rem;
}
.whyUs h2 {
  padding-bottom: 2rem;
  text-align: center;
}
.whyUs ul {
  display: inline-block;
  width: 49%;
}
.whyUs ul li {
  text-decoration: none;
  list-style-type: circle;
  font-size: 1.2rem;
  margin: 1rem 0;
}
.whyUs ul li::marker {
  color: #ffe900;
}

.followUs {
  justify-content: center;
  display: flex;
  margin: 5rem 0;
}
.followUs .left {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.followUs .right {
  padding: 1rem 0;
}
.followUs .right a {
  padding: 1rem 2rem;
  margin: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 10px 10px 40px 3px rgba(0, 0, 0, 0.24);
  color: White;
  font-weight: 900;
  font-family: "Quicksand", serif;
  border: 0;
  border-radius: 2rem;
}
.followUs .right a:nth-child(3) {
  background: black;
}
.followUs .right a:nth-child(1) {
  background: linear-gradient(#f9ce34, #ee2a7b);
}
.followUs .right a:nth-child(2) {
  background: linear-gradient(#00c6ff, #0072ff);
}

.contactUs {
  padding: 5rem;
  align-items: center;
  color: white;
  background-image: url("img/bmw3.jpg");
  background-size: 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.contactUs svg {
  fill: #ffe900;
}
.contactUs .info .place, .contactUs .info .contact {
  display: flex;
}
.contactUs .info .place {
  margin: 3rem 0;
}
.contactUs .info .contact svg {
  margin-right: 1rem;
}
.contactUs .contact-form {
  text-aligN: center;
  width: 400px;
  border-radius: 2rem;
  background: white;
  color: black;
  padding: 2rem 1rem;
}
.contactUs .contact-form h3 {
  margin: 2rem 0;
  font-size: 1.5rem;
}
.contactUs .contact-form form input, .contactUs .contact-form form textarea {
  margin: 0.2rem 0;
  width: 100%;
  padding: 1rem;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 2rem;
  resize: none;
}
.contactUs .contact-form form input:nth-child(1), .contactUs .contact-form form input:nth-child(2), .contactUs .contact-form form textarea:nth-child(1), .contactUs .contact-form form textarea:nth-child(2) {
  width: 49%;
}
.contactUs .contact-form form button {
  margin: 1rem 0;
  cursor: pointer;
  background: #ffe900;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: 900;
  color: #000000;
  border-radius: 2rem;
  border: 0;
  font-family: "Quicksand", serif;
}

.footer {
  background: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.footer .socials {
  display: flex;
}
.footer .socials .tt {
  margin-left: 1rem;
  cursor: pointer;
}

.banner-sec {
  background-image: url("img/bmw2.jpg");
  height: 12rem;
  background-size: 110%;
  background-position: 0% 35%;
  display: flex;
  align-items: end;
  color: white;
}
.banner-sec .text-area {
  margin-left: 10%;
}
.banner-sec .text-area h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.banner-sec .text-area p {
  font-size: 1.5rem;
  max-width: 60%;
  margin: 1rem 0 4rem 0;
}
.banner-sec .text-area a {
  background: #ffe900;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: 900;
  color: #000000;
  border-radius: 2rem;
}

.products-list {
  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.products-list a {
  flex-basis: 20%;
  text-decoration: none;
  box-shadow: 10px 10px 40px 3px rgba(0, 0, 0, 0.24);
}
.products-list a .product-photo img {
  width: 100%;
}
.products-list a .product-desc {
  color: black;
  padding: 1rem;
}
.products-list a .product-desc h4 {
  font-size: 1.2rem;
}
.products-list a .product-desc p {
  padding-top: 1rem;
}

.text-area-detail {
  margin-left: 10%;
  background: #ffe900;
  padding: 1rem;
  transform: translateY(25%);
}
.text-area-detail h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
}

.product-detail {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

li {
  text-decoration: none;
  list-style-type: circle;
  font-size: 1.2rem;
  margin: 1rem 0;
  font-weight: 600;
}
li::marker {
  color: #ffe900;
}

.reservation-form {
  margin-bottom: 5rem;
}
.reservation-form .contact-form {
  text-aligN: center;
  width: 60%;
  margin: auto;
  border-radius: 2rem;
  background: white;
  color: black;
}
.reservation-form .contact-form h3 {
  margin: 2rem 0;
  font-size: 1.5rem;
}
.reservation-form .contact-form form input, .reservation-form .contact-form form textarea {
  margin: 0.2rem 0;
  width: 100%;
  padding: 1rem;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 2rem;
  resize: none;
}
.reservation-form .contact-form form input:nth-child(1), .reservation-form .contact-form form input:nth-child(2), .reservation-form .contact-form form textarea:nth-child(1), .reservation-form .contact-form form textarea:nth-child(2) {
  width: 49%;
}
.reservation-form .contact-form form button {
  margin: 1rem 0;
  cursor: pointer;
  background: #ffe900;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: 900;
  color: #000000;
  border-radius: 2rem;
  border: 0;
  font-family: "Quicksand", serif;
}

.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 5rem;
}
.contact-page .right {
  flex-basis: 50%;
}
.contact-page .left {
  flex-basis: 35%;
}
.contact-page .left {
  display: flex;
  flex-wrap: wrap;
}
.contact-page .left .left-inner, .contact-page .left .right-inner, .contact-page .left .reservation-form {
  flex: 50%;
}
.contact-page .left p {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
.contact-page .left .right-inner {
  text-align: right;
}

.nav-hamburger {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .dropdown-leanguage {
    display: none;
  }
  .nav-hamburger {
    background: black;
    display: block;
  }
  .nav-hamburger .inner-hamburger {
    display: none;
    position: absolute;
    text-align: right;
    background: black;
    padding: 25px;
    right: 0;
    width: 200px;
    border-radius: 2rem;
  }
  .nav-hamburger .inner-hamburger li {
    list-style: none;
  }
  .nav-hamburger .inner-hamburger li a {
    text-decoration: none;
    color: white;
  }
  .nav-cover .nav {
    display: none;
  }
  .banner {
    height: 30rem;
  }
  .header .logo {
    flex-basis: 20%;
  }
  .whyUs .inner-section .list {
    padding: 2rem 3rem;
  }
  .followUs .right {
    display: flex;
    flex-direction: column;
    width: 20rem;
    text-align: center;
  }
  .contactUs {
    flex-direction: column;
    gap: 2rem;
  }
  .products-list a {
    flex-basis: 30%;
  }
  .product-detail {
    flex-direction: column;
    gaP: 1rem;
  }
  .contact-page {
    flex-direction: column;
    gap: 0;
  }
  .contact-page .right {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .banner-sec {
    height: 15rem;
  }
  .header .logo {
    flex-basis: 45%;
  }
  .banner {
    height: 40rem;
    background-position: 20% 50%;
    background-size: cover;
  }
  .banner .text-area p {
    max-width: 95%;
  }
  .whyUs .inner-section {
    width: 90%;
  }
  .whyUs .inner-section .list h2 {
    padding-bottom: 0.7rem;
  }
  .whyUs .inner-section .list ul {
    display: block;
    width: 100%;
  }
  .followUs {
    flex-direction: column;
    margin: 2.5rem 0;
  }
  .followUs .left {
    margin-left: 2rem;
  }
  .followUs .right {
    width: 80%;
    margin: auto;
  }
  .contactUs {
    background-size: cover;
    padding: 5rem 0;
  }
  .contactUs .contact-form {
    margin: 0 1rem;
    width: auto;
  }
  .footer .logo {
    width: 10rem;
  }
  .footer .logo img {
    width: 100%;
  }
  .products-list a {
    flex-basis: 90%;
  }
  .product-detail .right img {
    width: 400px;
  }
  .reservation-form .contact-form {
    width: 90%;
  }
  .contact-page {
    padding: 4rem 1rem;
  }
  .contact-page .right {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */